.App {
  text-align: center;
  /* color: azure; */
}
/* html {
  background: url(https://steamuserimages-a.akamaihd.net/ugc/993513763546122552/DCBE6D041DEDFA82C8A381614CEC904DC8898B3A/?imw=637&imh=358&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true)
    fixed no-repeat;
  background-size: cover;
  width: 100%;
} */
body {
  padding-top: 4em;
  font-family: "Teko", sans-serif;
  color: whitesmoke;
}
button,
.add-submit {
  padding: 1em;
  width: 15em;
  border-radius: 0.25em;
  font-weight: 800;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke, 1px 1px whitesmoke;
  border: none;
  font-size: 0.75em;
  font-family: "Teko", sans-serif;
  box-shadow: 2px 2px 2px black;
  margin: 1em;
  margin-bottom: 2em;
}
button:hover,
.add-submit:hover {
  background-color: chocolate;
}
button:focus {
  outline: none;
}
.home-cta:hover {
  border: 1px solid black;
}
.home-cta {
  background-color: #990000;
  padding: 1em;
  width: 15em;
  margin: 1em;
  margin-left: 16em;
  color: black;
  font-size: 1em;
  border-radius: 0.25em;
  font-weight: 800;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke, 1px 1px whitesmoke;
  border: none;
  font-family: "Teko", sans-serif;
  box-shadow: 2px 2px 2px black;
}
img {
  border: 10px solid whitesmoke;
  margin: 0.5em;
  height: 10em;
}
.char-img {
  width: 54.75%;
  height: 20em;
}
.char-name,
.char-desc,
.weapon-desc,
.map-desc,
.skin-desc {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.home-header {
  font-family: "Teko", sans-serif;
  margin: 2.5em;
  color: black;
  text-shadow: -1px -1px 0 whitesmoke, 1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke, 1px 1px 0 whitesmoke;
  font-size: 3em;
}
.home-header2 {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 2em;
  margin-top: -2em;
  margin-left: 6em;
  color: whitesmoke;
  font-family: "Teko", sans-serif;
  font-size: 2em;
}
.home-container {
  text-align: left;
}
.home-logo {
  width: 15em;
  height: 4em;
  border: none;
  margin: 0;
}
.navbar {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.nav-container {
  width: 100%;
  font-family: "Teko", sans-serif;
  font-size: 1.15em;
  display: flex;
  height: 4em;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: whitesmoke;
  padding: 0 12px 0 0;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 10px 5px 5px #990000;
}
.navbar-item {
  padding: 1em;
  text-decoration: none;
  margin-right: 1em;
}
.weapon-item,
.map-item {
  float: left;
  margin: 0.5em;
}
.weapon-img {
  width: 55%;
  height: 20em;
}
.map-image {
  width: 30em;
  height: 30em;
  margin: 3em;
  margin-left: 7em;
}
a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}
video {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  width: auto;
}
